BasedOnStyle: Microsoft

# Indentation and Formatting
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true  
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
CompactNamespaces: false                
FixNamespaceComments: true               
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always

# Include Sorting
IncludeCategories:
  - Regex:           '^<c[^>]+>$'
    Priority:        1
  - Regex:           '^<[a-z][^>]*>$'
    Priority:        2
  - Regex:           '^<[^>]+>$'
    Priority:        3
  - Regex:           '^".*"$'
    Priority:        4
SortIncludes:        true

# Pointer and Refer
