BasedOnStyle: Microsoft

# Indentation and Formatting
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
EmptyLineBeforeAccessModifier: Always
MaxEmptyLinesToKeep: 1
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true  
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
PointerAlignment: Left
CompactNamespaces: false                
SpacesInParentheses: true
FixNamespaceComments: true               
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always

# Include Sorting
IncludeCategories:
  - Regex:           '^<c[^>]+>$'
    Priority:        1
  - Regex:           '^<[a-z][^>]*>$'
    Priority:        2
  - Regex:           '^<[^>]+>$'
    Priority:        3
  - Regex:           '^".*"$'
    Priority:        4
SortIncludes:        true
